* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: space-between;
}

.canvas {
  position: relative;
  width: 85%;
  height: 100vh;
  background-color: lightblue;
}

.cool-bottom-left-div {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0.8rem;
  bottom: 0.8rem;
  width: 800px;
}
