* {
  margin: 0;
  padding: 0;
}

.canvas {
  position: relative;
  width: 85%;
  height: 100vh;
  background-image: url('https://i.imgur.com/nP5HPw4.jpeg');  
  background-size: cover; 
  background-repeat: no-repeat; 
}

.cool-bottom-left-div {
  position: absolute;
  left: 0.8rem;
  bottom: 0.8rem;
}

.btn {
  border: none;
  background-color: #eee;
  border-radius: 0.3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}
