.app {
  display: flex;
  justify-content: space-between;
}

.canvas {
  position: relative;
  width: 1300px; /* Adjust as needed */
  height: 710px; /* Adjust as needed */
  background-color: lightblue;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  border: none;
  font-size: 1.5rem;
  padding: 0.6rem 0.8rem;
  background-color: #dddddd;
  margin: 0 auto;
}

.chat {
  font-family: sans-serif;
  padding: 0.1rem 1rem;
  background-color: #222;
  color: #eee;
}
